aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==20.3.0
chardet==4.0.0
docutils==0.17
idna==3.1
iniconfig==1.1.1
lockfile==0.12.2
multidict==5.1.0
packaging==20.9
pluggy==0.13.1
psutil==5.8.0
py==1.10.0
pyparsing==2.4.7
pytest==6.2.2
python-daemon==2.3.0
python-nmap==0.6.4
toml==0.10.2
typing-extensions==3.10.0.0
yarl==1.6.3
