{
	"auth": false,
	"key": "anyacceptablecharacterswilldo",
	"permitCommands": true,
	"permitNetscan": false,
	"commands": {
		"shutdown": {
			"function": "dd-shutdown",
			"bi-icon": "bi-power"
		}
	}
}