{
	"auth": false,
	"key": "anyacceptablecharacterswilldo",
	"permitCommands": true,
	"permitNetscan": false,
	"commands": {
		"shutdown": {
			"function": "dd-shutdown",
			"fa-icon": "fa-power-off"
		}
	}
}